:root {
  /* text color */
  --text-50: rgb(229, 247, 255);
  --text-100: rgb(204, 240, 255);
  --text-200: rgb(153, 224, 255);
  --text-300: rgb(102, 209, 255);
  --text-400: rgb(51, 194, 255);
  --text-500: rgb(0, 178, 255);
  --text-600: rgb(0, 143, 204);
  --text-700: rgb(0, 107, 153);
  --text-800: rgb(0, 71, 102);
  --text-900: rgb(0, 36, 51);
  --text-950: rgb(0, 18, 26);

  /* background color */
  --background-50: rgb(229, 246, 255);
  --background-100: rgb(204, 237, 255);
  --background-200: rgb(153, 219, 255);
  --background-300: rgb(102, 201, 255);
  --background-400: rgb(51, 184, 255);
  --background-500: rgb(0, 166, 255);
  --background-600: rgb(0, 133, 204);
  --background-700: rgb(0, 99, 153);
  --background-800: rgb(0, 66, 102);
  --background-900: rgb(0, 33, 51);
  --background-950: rgb(0, 17, 26);

  /* primary color */
  --primary-50: rgb(230, 246, 255);
  --primary-100: rgb(205, 237, 254);
  --primary-200: rgb(155, 219, 253);
  --primary-300: rgb(104, 201, 253);
  --primary-400: rgb(54, 183, 252);
  --primary-500: rgb(4, 165, 251);
  --primary-600: rgb(3, 132, 201);
  --primary-700: rgb(2, 99, 151);
  --primary-800: rgb(2, 66, 100);
  --primary-900: rgb(1, 33, 50);
  --primary-950: rgb(0, 16, 25);

  /* secondary color */
  --secondary-50: rgb(240, 238, 246);
  --secondary-100: rgb(224, 221, 238);
  --secondary-200: rgb(193, 187, 221);
  --secondary-300: rgb(163, 153, 204);
  --secondary-400: rgb(132, 119, 187);
  --secondary-500: rgb(101, 85, 170);
  --secondary-600: rgb(81, 68, 136);
  --secondary-700: rgb(61, 51, 102);
  --secondary-800: rgb(40, 34, 68);
  --secondary-900: rgb(20, 17, 34);
  --secondary-950: rgb(10, 9, 17);

  /* accent color */
  --accent-50: rgb(240, 230, 255);
  --accent-100: rgb(225, 205, 254);
  --accent-200: rgb(196, 154, 254);
  --accent-300: rgb(166, 104, 253);
  /* main shade from color generating theme website */
  --accent-400: rgb(136, 53, 253);
  --accent-500: rgb(107, 3, 252);
  --accent-600: rgb(85, 2, 202);
  --accent-700: rgb(64, 2, 151);
  --accent-800: rgb(43, 1, 101);
  --accent-900: rgb(21, 1, 50);
  --accent-950: rgb(11, 0, 25);
}

* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-950);
}

.footer {
  position: absolute;
  bottom: 2vh;
  color: var(--background-100);
  opacity: 0.2;
  font-size: 0.95rem;
  font-weight: 200;
  cursor: default;
  text-align: center;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer:hover {
  text-shadow: 0 0 50px var(--accent-400);
  opacity: 0.2;
}

.menu {
  position: relative;
  width: 300px;
  height: 300px;
  /* background-color: var(--background-50); */
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.menu {
  padding: 0;
  margin: 0;
}

.menu .toggle {
  position: relative;
  width: 75px;
  height: 75px;
  background: var(--background-100);
  /* border: 1px solid blue; */
  border-radius: 50%;
  color: var(--background-950);

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.85rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.menu .toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75px;
  height: 75px;
  background-color: var(--background-100);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: -1;
  transition: all 0.5s ease;
}

.menu .toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75px;
  height: 75px;
  background-color: var(--background-100);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: none;
  opacity: 0;
  z-index: -2; /* อยู่ระหว่าง bg กับ toggle */
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.menu .toggle.active {
  transform: rotate(315deg);
  background-color: var(--background-950);
  color: var(--background-950);
  /* color: blue; */
}

.menu .toggle.active::before {
  background-color: var(--background-950);
}

.menu .toggle.active::after {
  pointer-events: auto;
  opacity: 1;
  transform: translate(-50%, -50%) scale(3);
}

.menu li {
  position: absolute;
  left: 0;
  transform: rotate(calc(360deg / 8 * var(--i))) translateX(42px);
  transform-origin: 150px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 22;
}

.menu li.block-transition {
  transition: none;
}

.menu li i {
  color: var(--background-950);
  font-size: 1.75rem;
}

.menu.active li {
  visibility: visible;
  opacity: 1;
}

.menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  transform: rotate(calc(360deg / -8 * var(--i)));
  /* background-color: red; */
  border-radius: 50%;
}

.menu.active li.active {
  font-size: 1.75rem;
  transform: rotate(calc(360deg / 8 * var(--i))) translateX(15px);
}

.indicator {
  position: absolute;
  left: calc(50% + 2.6px);
  top: calc(50% - 1.3px);
  width: 100px;
  height: 1px;
  /* background-color: red; */
  pointer-events: none;
  transform-origin: right;
  transition: all 0.3s ease;
}

.indicator::before {
  content: "";
  position: absolute;
  top: -29px;
  left: 68px;
  width: 60px;
  height: 60px;
  background-color: var(--accent-400);
  /* border: 5px solid red; */
  box-shadow: 0 0 0 5px var(--background-950);
  border-radius: 50%;
  opacity: 0;
  transition: translate 0.3s ease;
}

.indicator.block-transition {
  transition: none;
}

.indicator.block-transition::before {
  transition: none;
}

.menu.active .indicator::before {
  opacity: 0;
  left: -31px;
}

.menu.active li:nth-child(2).active ~ .indicator {
  transform: translateX(-102px) rotate(calc(360deg / 8 * 0));
}

.menu.active li:nth-child(2).active ~ .indicator::before {
  opacity: 1;
  transform: translateX(-5px);
}

.menu.active li:nth-child(3).active ~ .indicator {
  transform: translateX(-102px) rotate(calc(360deg / 8 * 1));
}

.menu.active li:nth-child(3).active ~ .indicator::before {
  opacity: 1;
  transform: translateX(-4px);
}

.menu.active li:nth-child(4).active ~ .indicator {
  transform: translateX(-102px) rotate(calc(360deg / 8 * 2));
}

.menu.active li:nth-child(4).active ~ .indicator::before {
  opacity: 1;
  transform: translateX(-4px);
}

.menu.active li:nth-child(5).active ~ .indicator {
  transform: translateX(-102px) rotate(calc(360deg / 8 * 3));
}

.menu.active li:nth-child(5).active ~ .indicator::before {
  opacity: 1;
  transform: translateX(-3px);
}

.menu.active li:nth-child(6).active ~ .indicator {
  transform: translateX(-102px) rotate(calc(360deg / 8 * 4));
}

.menu.active li:nth-child(6).active ~ .indicator::before {
  opacity: 1;
  transform: translateX(-3px);
}

.menu.active li:nth-child(7).active ~ .indicator {
  transform: translateX(-102px) rotate(calc(360deg / 8 * 5));
}

.menu.active li:nth-child(7).active ~ .indicator::before {
  opacity: 1;
  transform: translateX(-4px);
}

.menu.active li:nth-child(8).active ~ .indicator {
  transform: translateX(-102px) rotate(calc(360deg / 8 * 6));
}

.menu.active li:nth-child(8).active ~ .indicator::before {
  opacity: 1;
  transform: translateX(-6px);
}

.menu.active li:nth-child(9).active ~ .indicator {
  transform: translateX(-102px) rotate(calc(360deg / 8 * 7));
}

.menu.active li:nth-child(9).active ~ .indicator::before {
  opacity: 1;
  transform: translateX(-6px);
}
